/* Menu */
.logo {
  border-radius: var(--borda-padrao);
  transition: var(--transicao-padrao);
}

.logo__imagem {
  margin-right: 0.435em;
  max-width: 5.55em;
  width: 75%;
}

.menu-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .logo:hover {
    background-color: var(--componentes);
  }
  .menu-home a:hover {
    color: var(--fonte-hover);
    background-color: var(--chamada);
  }
}
/*Main*/

/*Destaques*/
.destaques-imagem {
  transition: var(--transicao-padrao);
  width: 25%;
}

@media screen and (max-width: 768px) {
  .descricao {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .destaques-imagem:hover {
    width: 30%;
  }
}

/*Vantagens*/
.vantagens {
  border-radius: var(--borda-padrao);
  transition: var(--transicao-padrao);
}

@media screen and (max-width: 768px) {
  .vantagens {
    height: 90% !important;
    width: 30% !important;
  }
}

@media screen and (min-width: 768px) {
  .vantagens:hover {
    background-color: var(--componentes);
    height: 90% !important;
    width: 30% !important;
  }
}
